{{ define "main" }}
<main>
	<article id="article">
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			{{ with .Description }}
				<p class="description">{{ . }}</p>
			{{ end }}
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ if not (in (slice "About" "CV") .Title) }}
		<div class="toc">
			<p class="toc-header">Contents:</p>
			<aside>
				{{ .TableOfContents }}
			</aside>
		</div>
		{{ end }}
	

		<section class="body">
			{{ .Content }}
		</section>

		{{ if ne .Type "page" }}
		{{ if gt .Params.tags 0 }}
		<div class="post-tags">
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
		</div>
		{{ end }}
		{{ end }}

		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.DisqusShortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}

		<!-- Make all article sub-headings clickable/linkable. -->
		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
		<script>
		(function addHeadingLinks(){
		var article = document.getElementById('article');
		var headings = article.querySelectorAll('h1, h2, h3, h4, h5, h6');
		headings.forEach(function(heading){
			if(heading.id){
			var a = document.createElement('a');
			a.innerHTML = heading.innerHTML;
			a.href = '#'+heading.id;
			a.className = 'heading-link';

			var icon = document.createElement('i');
			icon.setAttribute('data-feather', 'link-2');
			icon.setAttribute('color', 'gray');
			icon.className = "icon";
			icon.style = "margin-left: 0.2em;"
			a.appendChild(icon);

			heading.innerHTML = '';
			heading.appendChild(a);
			}
		});
		feather.replace(); // Update Feather icons
		})();
		</script>


	</article>
	
</main>
{{ end }}
