@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space+Grotesk&display=swap");

:root {
  --green: #00f681;
  --blue: #337bde;
  --pink: #ff59bd;
  --purple: #e640a3;
  --orange: #f8b500;
  --lightgrey: #f0f0f0;
  --grey: #737679;
  --darkgrey: #171c23;
  --offblack: #0f1219;

  --maincolor: var(--pink);
  --bordercl: var(--grey);

  --lineheight: 1.9em;
}

html {
  color: #232333;
  font-family: "Space Grotesk", monospace;
  font-size: 16px;
  line-height: var(--lineheight);
}

.icon {
  position: relative;
  top: 2px;
  left: 0px;
}

.mode-toggle {
  border-bottom: none;
}

.mode-toggle:hover {
  cursor: pointer;
  background-color: transparent;
}

p {
  font-family: "Space Grotesk", sans-serif;
  line-height: var(--lineheight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 1.3rem;
  margin-top: 2em;
}

h2 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.1rem;
  margin-top: 2em;
}

a {
  border-bottom: 2px solid var(--maincolor);
  color: inherit;
}

a:hover {
  background-color: var(--maincolor);
  color: white;
}

code {
  font-family: "Space Mono", monospace, sans-serif;
  background-color: var(--lightgrey);
  color: var(--pink);
  text-decoration: bold;
  padding: 0.1em 0.2em;
}

table {
  font-family: "Space Mono", monospace, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

table th {
  text-align: left;
}

ul {
  list-style: circle;
  padding-left: 2ch;
}
ul li {
  text-indent: 0;
}
ul > li::before {
  content: "";
  font-weight: bold;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: var(--maincolor);
  color: vaR(--offblack);
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid var(--bordercl);
  margin: 1em 0;
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--bordercl);
  padding: 2rem 0rem;
  margin-top: 2rem;
  color: var(--grey);
}

footer a {
  border-bottom: none;
  font-weight: bold;
}

img {
  border: 0px;
  max-width: 100%;
  display: block;
  margin: auto;
}

img[src$="#rounded"] {
  border-radius: 10px;
}

img[src$="#margin"] {
  margin-top: 20px;
}

.rounded {
  border-radius: 10px;
}

.margin {
  margin-top: 20px;
}

figure {
  display: block;
  margin: auto;
}

figcaption {
  display: block;
  margin: auto;
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-size: small;
}

blockquote {
  border-left: 5px solid var(--maincolor);
  padding: 0.2em 1em 0.2em 1em;
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.025);
  font-style: italic;
}

.footnote-ref::before {
  content: "[";
}
.footnote-ref::after {
  content: "]";
}

.footnote-ref {
  margin-left: 0.4ch;
}

.description {
  margin-bottom: 30px !important;
  font-family: "Space Mono", sans-serif;
  color: var(--grey);
  font-style: italic;
}

.description::before {
  color: var(--maincolor);
  content: "// ";
}

.toc {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  font-family: "Space Mono", sans-serif;
}

.toc-header {
  margin-top: 2em;
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Space Mono", sans-serif;
}

.footnotes p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-tags {
  border-top: 1px solid var(--bordercl);
  margin-top: 40px;
  margin-bottom: 20px;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-top: 20px;
  margin-bottom: 20px;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-img {
  max-height: 800px !important;
}

.heading-link {
  text-decoration: none;
  border-bottom: none;
}

/* Lightbox gallery buttons. */
.gallery a {
  border-bottom: none;
}
